@model IEnumerable<BigSchool.Models.Course>
@{ 
    ViewBag.Title = "Home Page";
}
<br />
<ul class="course">
    @foreach(var course in Model)
    {
        <li>
            <div class="date" >
                <div class="month">
                    @course.DateTime.ToString("MM")
                </div>
                <div class="day">
                    @course.DateTime.ToString("dd")
                </div>
            </div>
         
            <div class="details">
                <span class="">
                    @course.Lecturer.Name
                </span>
                &ensp;     &ensp;
                <span class="">
                    @course.Category.Name
                </span>
                <br/>
                <button style="text-align: center;
    background-color : #129296; border-radius: 8px" data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going</button>
            </div>
        </li>
    }
</ul>